<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TravelAssignment</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.training.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTrip</display-name>
    <servlet-name>ViewTrip</servlet-name>
    <servlet-class>com.training.servlets.ViewTrip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrip</servlet-name>
    <url-pattern>/ViewTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTour</display-name>
    <servlet-name>SearchTour</servlet-name>
    <servlet-class>com.training.servlets.SearchTour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTour</servlet-name>
    <url-pattern>/SearchTour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.training.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTrip</display-name>
    <servlet-name>UpdateTrip</servlet-name>
    <servlet-class>com.training.servlets.UpdateTrip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTrip</servlet-name>
    <url-pattern>/UpdateTrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketServlet</display-name>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>com.training.servlets.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/BookTicket</url-pattern>
  </servlet-mapping>
</web-app>